.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}
.widget {
  margin-bottom: $xl-size;
  width: 140%;
  height: 100px;
}
.arrowStyle{
  margin-top: 67px !important;
  margin-left: 50px;
}

